[submodule "rails-5.1.2"]
	path = rails-5.1.2
	url = git@github.com:ezployio/sample-rails-5.1.2.git
[submodule "laravel-5.4"]
	path = laravel-5.4
	url = git@github.com:ezployio/sample-laravel-5.4.git
