[submodule "rails-5.1.2"]
	path = rails-5.1.2
	url = git@github.com:ezployio/sample-rails-5.1.2.git
[submodule "laravel-5.4"]
	path = laravel-5.4
	url = git@github.com:ezployio/sample-laravel-5.4.git
[submodule "webpack-express"]
	path = webpack-express
	url = git@github.com:ezployio/webpack-express-boilerplate.git
[submodule "webpack-1.12-express"]
	path = webpack-1.12-express
	url = git@github.com:ezployio/webpack-express-boilerplate.git
[submodule "vue-webpack"]
	path = vue-webpack
	url = git@github.com:ezployio/sample-vue-webpack-app.git
[submodule "react-scripts-app"]
	path = react-scripts-app
	url = git@github.com:ezployio/sample-react-node.git
[submodule "webpack-react-sass"]
	path = webpack-react-sass
	url = git@github.com:ezployio/webpack-boilerplate.git
[submodule "webpack-stylus"]
	path = webpack-stylus
	url = git@github.com:ezployio/webpack-example-stylus.git
[submodule "webpack2-react"]
	path = webpack2-react
	url = git@github.com:ezployio/webpack2-react.git
[submodule "static-scss-es6"]
	path = static-scss-es6
	url = git@github.com:ezployio/static-scss-es6.git
[submodule "static-less-website"]
	path = static-less-website
	url = git@github.com:ezployio/static-less-website.git
[submodule "stylus-static-website"]
	path = stylus-static-website
	url = git@github.com:ezployio/stylus-static-website.git
[submodule "static-sass-website"]
	path = static-sass-website
	url = git@github.com:ezployio/static-sass-website.git
